<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>EUR-USD price</title>
        <style>
            .row > div {
                padding: 20px;
                background-color: teal;
                border: 2px solid black;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    Open
                </div>
                <div class="col-lg-3 col-sm-6">
                    High
                </div>
                <div class="col-lg-3 col-sm-6">
                    Low
                </div>
                <div class="col-lg-3 col-sm-6">
                    Close
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    {{ Open }}
                </div>
                <div class="col-lg-3 col-sm-6">
                    {{ High }}
                </div>
                <div class="col-lg-3 col-sm-6">
                    {{ Low }}
                </div>
                <div class="col-lg-3 col-sm-6">
                    {{ Close }}
                </div>
            </div>
        </div>
        {% if ok %}
        <h1 class="alert alert-success" role="alert">wow its expensive </h1>
        {% else %}
        <h1 class="alert alert-danger" role="alert"> wow its cheap</h1>
        {% endif %}
    </body>
</html>